@import "variables";


.container {
	background-color: white;
	border: 1px solid $gray-400;
	width: 45%;
	padding: 50px 0px 50px;
	border-radius: 35px;
	box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.37)
}

.form-title {
	padding-bottom: 25px;
}

.form-control{
	border-radius: 10px;
}

.dropdown-toggle{
	border-radius: 10px;
}

.dropdown-item{
	cursor: default;
}

.input-wrapper {
	padding: 0px 25% 0px 25%;
}

.inline-form-group {
	display: inline-block;
}

.age-input {
	width: 100px;
}

.form-control {
	right: 2px;
}

.gender {
	float: right;
}

.conditions-row {
	margin-top: 20px;
}

.conditions-label {
	font-size: 1rem;
}