@import "variables";

.container {
	background-color: white;
	border: 1px solid $gray-400;
	width: 45%;
	padding: 50px 0px 50px;
	border-radius: 35px;
	box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.37)
}

.form-title {
	padding-bottom: 25px;
}

.form-control{
	border-radius: 10px;
}

.dropdown-toggle{
	border-radius: 10px;
}

.dropdown-item{
	cursor: default;
}

.input-wrapper {
	padding: 0px 25% 0px 25%;
}

.inline-form-group {
	display: inline-block;
}

.age-input {
	width: 100px;
}

.form-control {
	right: 2px;
}

.gender {
	float: right;
}

.conditions-row {
	margin-top: 20px;
}

.conditions-label {
	font-size: 1rem;
}

.dropdown-item {
	&:hover {
		cursor: pointer;
	}
}

.county-dropdown {
	width: inherit;
	border-radius: 3px;
	top: 72px;
	max-height: 250px;
	overflow: scroll;
}

.btn {
	margin-top: 20px;
}

.table {
	margin-top: 10px;
	width: 70%;
	margin-left: 15%;
}

th {
	&:hover {
		background-color: $gray-100;
		cursor: pointer;
	}
}

.clicked {
	background-color: $gray-300;
}