@import "variables";

body{
	background-color: rgb(30,30,30);
}

.main-screen {
	background-image: linear-gradient(to bottom right, #00C9FF,#92FE9D);
	height: 100% !important;
	background-attachment: fixed;
	// border-radius: 0px 0px 20px 20px;

}

.additions {
	background-color: $gray-200;
	padding: 100px 0px 100px;
}

h1{
	width: 100%;
	color: white;
	font-weight: bold;
	font-size: 70px;
	text-align: center;
	margin: auto;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	position: absolute;
}

.subtitle{
	width: 100%;
	color: white;
	font-size: 30px;
	text-align: center;
	margin: auto;
	transform: translate(-50%, -50%);
	top: 60%;
	left: 50%;
	position: absolute;
}

.fas{
	color: white;
	font-size: 30px;
	transform: translate(-50%, -50%);
	bottom: 1%;
	left: 50%;
	position: absolute;
	cursor: pointer;
	transition: all ease-in-out .1s;
}

.fas:hover{
	color: white;
	font-size: 35px;
	transform: translate(-50%, -50%);
	// bottom: 1.5%;
}

#fader{
	background-color: black;
	position: fixed;
	height:100%;
	width:100%;
	z-index: 100;
	left: 0px;
	top: 0px;
	pointer-events:none;
}

#form{
	background-color:rgb(30, 30, 30);
}