.wrapper {
	display: flex;
  flex-flow: column;
  height: 100%;
}

app-toolbar {
  flex: 0 1 auto;
  z-index: 10;
}

.content {
	flex: 1 1 auto;
}

app-toolbar {
	position: -webkit-sticky;
  position: sticky;
  top: 0;
}