.navbar{
    background-color: rgb(20,20,20) !important;
}

.title{
    font-family: 'Poppins'!important;
    color: #ffffff;
    font-weight: 700;
    padding-top: auto;
    padding-bottom: auto;
    margin-left: 20px;
    &:hover {
			cursor: pointer;
		}

		&:focus {
			outline: none;
		}
}

.btn{
    background-color: white;
    border-radius: 50px;
    color: black;
    font-size: 15px;
    border-color: white;
}

.title {
	

}

.btn {
	margin-right: 20px;
}