
body{
    background-image: linear-gradient(#00C9FF,#92FE9D);

    height: 100% !important;
    background-size: cover !important;
    background-repeat: no-repeat;
    font-family: 'Quicksand', sans-serif!important;
}

home{
    background-image: linear-gradient(#00C9FF,#92FE9D);
    background-size: cover !important;
    height: 100% !important;
    background-position: fixed;
}

app-toolbar{
    background-color: black !important;
}